# Ignore common build artifacts and temporary files
*.o
*.ko
*.mod.c
*.mod
*.symvers
*.order
.cache.mk
.acpi.o.cmd
.cam.o.cmd
.chan.o.cmd
.chan.o.d
.coex.o.cmd
.coex.o.d
.core.o.cmd
.core.o.d
.debug.o.cmd
.debug.o.d
.efuse_be.o.cmd
.efuse.o.cmd
.efuse.o.d
.fw.o.cmd
.fw.o.d
.mac_be.o.cmd
.mac_be.o.d
.mac.o.cmd
.mac.o.d
.mac80211.o.cmd
.mac80211.o.d
.module-common.o
.Module.symvers.cmd
.modules.order.cmd
.pci_be.o.cmd
.pci_be.o.d
.pci.o.cmd
.pci.o.d
.phy_be.o.cmd
.phy_be.o.d
.phy.o.cmd
.phy.o.d
.ps.o.cmd
.regd.o.cmd
.rtw8851b_rfk_table.o.cmd
.rtw8851b_rfk.o.cmd
.rtw8851b_table.o.cmd
.rtw8851b.o.cmd
.rtw8851b.o.d
.rtw8851be.o.cmd
.rtw8851bu.o.cmd
.rtw8852a_rfk_table.o.cmd
.rtw8852a_rfk.o.cmd
.rtw8852a_table.o.cmd
.rtw8852a.o.cmd
.rtw8852a.o.d
.rtw8852ae.o.cmd
.rtw8852au.o.cmd
.rtw8852b_common.o.cmd
.rtw8852b_common.o.d
.rtw8852b_rfk_table.o.cmd
.rtw8852b_rfk.o.cmd
.rtw8852b_table.o.cmd
.rtw8852b.o.cmd
.rtw8852b.o.d
.rtw8852be.o.cmd
.rtw8852bt_rfk_table.o.cmd
.rtw8852bt_rfk.o.cmd
.rtw8852bt.o.cmd
.rtw8852bt.o.d
.rtw8852bte.o.cmd
.rtw8852bu.o.cmd
.rtw8852c_rfk_table.o.cmd
.rtw8852c_rfk.o.cmd
.rtw8852c_table.o.cmd
.rtw8852c.o.cmd
.rtw8852c.o.d
.rtw8852ce.o.cmd
.rtw8852cu.o.cmd
.rtw89_8851b_git.ko.cmd
.rtw89_8851b_git.mod.cmd
.rtw89_8851b_git.mod.o.cmd
.rtw89_8851b_git.o.cmd
.rtw89_8851be_git.ko.cmd
.rtw89_8851be_git.mod.cmd
.rtw89_8851be_git.mod.o.cmd
.rtw89_8851be_git.o.cmd
.rtw89_8851bu_git.ko.cmd
.rtw89_8851bu_git.mod.cmd
.rtw89_8851bu_git.mod.o.cmd
.rtw89_8851bu_git.o.cmd
.rtw89_8852a_git.ko.cmd
.rtw89_8852a_git.mod.cmd
.rtw89_8852a_git.mod.o.cmd
.rtw89_8852a_git.o.cmd
.rtw89_8852ae_git.ko.cmd
.rtw89_8852ae_git.mod.cmd
.rtw89_8852ae_git.mod.o.cmd
.rtw89_8852ae_git.o.cmd
.rtw89_8852au_git.ko.cmd
.rtw89_8852au_git.mod.cmd
.rtw89_8852au_git.mod.o.cmd
.rtw89_8852au_git.o.cmd
.rtw89_8852b_common_git.ko.cmd
.rtw89_8852b_common_git.mod.cmd
.rtw89_8852b_common_git.mod.o.cmd
.rtw89_8852b_common_git.o.cmd
.rtw89_8852b_git.ko.cmd
.rtw89_8852b_git.mod.cmd
.rtw89_8852b_git.mod.o.cmd
.rtw89_8852b_git.o.cmd
.rtw89_8852be_git.ko.cmd
.rtw89_8852be_git.mod.cmd
.rtw89_8852be_git.mod.o.cmd
.rtw89_8852be_git.o.cmd
.rtw89_8852bt_git.ko.cmd
.rtw89_8852bt_git.mod.cmd
.rtw89_8852bt_git.mod.o.cmd
.rtw89_8852bt_git.o.cmd
.rtw89_8852bte_git.ko.cmd
.rtw89_8852bte_git.mod.cmd
.rtw89_8852bte_git.mod.o.cmd
.rtw89_8852bte_git.o.cmd
.rtw89_8852bu_git.ko.cmd
.rtw89_8852bu_git.mod.cmd
.rtw89_8852bu_git.mod.o.cmd
.rtw89_8852bu_git.o.cmd
.rtw89_8852c_git.ko.cmd
.rtw89_8852c_git.mod.cmd
.rtw89_8852c_git.mod.o.cmd
.rtw89_8852c_git.o.cmd
.rtw89_8852ce_git.ko.cmd
.rtw89_8852ce_git.mod.cmd
.rtw89_8852ce_git.mod.o.cmd
.rtw89_8852ce_git.o.cmd
.rtw89_8852cu_git.ko.cmd
.rtw89_8852cu_git.mod.cmd
.rtw89_8852cu_git.mod.o.cmd
.rtw89_8852cu_git.o.cmd
.rtw89_8922a_git.ko.cmd
.rtw89_8922a_git.mod.cmd
.rtw89_8922a_git.mod.o.cmd
.rtw89_8922a_git.o.cmd
.rtw89_8922ae_git.ko.cmd
.rtw89_8922ae_git.mod.cmd
.rtw89_8922ae_git.mod.o.cmd
.rtw89_8922ae_git.o.cmd
.rtw89_8922au_git.ko.cmd
.rtw89_8922au_git.mod.cmd
.rtw89_8922au_git.mod.o.cmd
.rtw89_8922au_git.o.cmd
.rtw89_core_git.ko.cmd
.rtw89_core_git.mod.cmd
.rtw89_core_git.mod.o.cmd
.rtw89_core_git.o.cmd
.rtw89_pci_git.ko.cmd
.rtw89_pci_git.mod.cmd
.rtw89_pci_git.mod.o.cmd
.rtw89_pci_git.o.cmd
.rtw89_usb_git.ko.cmd
.rtw89_usb_git.mod.cmd
.rtw89_usb_git.mod.o.cmd
.rtw89_usb_git.o.cmd
.rtw8922a_rfk.o.cmd
.rtw8922a.o.cmd
.rtw8922a.o.d
.rtw8922ae.o.cmd
.rtw8922au.o.cmd
.sar.o.cmd
.sar.o.d
.ser.o.cmd
.ser.o.d
.usb.o.cmd
.usb.o.d
.util.o.cmd
.util.o.d
.wow.o.cmd

# Ignore the .git directory within the driver source if it exists
RTL8851bu_driver_source/.git/

# Ignore the full driver backup tarball
RTL8851bu_driver_backup.tar.gz
